<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search-form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>
    Search form
</h1>
<p style="margin-bottom: 50px; font-size: 25px">
    Whooooooosh docs
</p>
<form action="search" method='get'>
    <input name="search_query" type="text"/>
</form>
<br/>
<p>{{search_query}}</p>
</body>
</html>